.containre{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 80px auto ;
    gap: 30px;
}
header{
    grid-column:1/4;
    background-color: blueviolet;
}
header > h1{
    text-align: center;
    color: white;
}
.containre > div{
    background-color:blue ;
    color: black;
}
.btns{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr ;
    grid-template-rows: 50px 50px;
    gap: 20px;
    padding: 40px;
} 
.big-btn{
    grid-column:1/5 ;
}
.containre p {
    font-size: 23px;
}
.containre h2{
    font-size: 2rem;
}